[Unit]
Description=1f517: run health check every 15 minutes

[Timer]
OnCalendar=*:0/15
RandomizedDelaySec=60
Persistent=false

[Install]
WantedBy=timers.target
